.primary {
  path {
    stroke: #176cf7;
    // fill: #176cf7;
  }
}
.secondary {
  path {
    stroke: #ffc117;
    // fill: #ffc117;
  }
}

.danger {
  path {
    stroke: #c22716;
    // fill: #ffc117;
  }
}

.white {
  path {
    stroke: #ffffff;
    // fill: #ffc117;
  }
}

.gray {
  path {
    stroke: #7b7b7b;
    // fill: #ffc117;
  }
}

.black {
  path {
    stroke: #000000;
    // fill: #ffc117;
  }
}

.dark-gray {
  path {
    stroke: #868686;
    // fill: #ffc117;
  }
}